<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <!-- These keys are used for database connection & script running -->
	  <add key="TestDatabaseConnectionFormatString"
		  value="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename={0}{1};"/>
	  <add key="TargetDatabaseFolderPath" value="TestDatabase\"/>
	  <!-- {0} -->
	  <add key="TestDatabaseName" value="TestDatabase.mdf"/>
	  <!-- {1} -->
	  <add key="ObjectQualifier" value="dnn_"/>
	  <add key="DatabaseOwner" value="dbo."/>

	  <!-- These keys are used for setting up the database tables & sprocs -->
	  <add key="SourceDatabaseFolderPath" value="..\..\TestDatabase\"/>
	  <!-- Relative to the bin\debug\ path of the running DLL tests -->
	  <add key="TestDatabaseSetupScript" value="TestDatabase.Setup.SqlDataProvider"/>
	  <!-- ModuleInstallScripts should be a semicolon-separated list of scripts to run, in the order in which they should run -->
	  <add key="ModuleInstallScripts" value="01.00.00.SqlDataProvider;TestData.SqlDataProvider"/>
	  <add key="ModuleUnInstallScripts" value="01.00.00.SqlDataProvider"/>
  </appSettings>
</configuration>
